* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #CDB4FF, #F4C2E1);
  color: #3B2E5A;
}

/* LOGIN */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #FFF7FB;
  padding: 35px;
  border-radius: 25px;
  text-align: center;
  width: 320px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.login-box h1 {
  color: #7B5CF0;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 12px;
  border: 1px solid #CDB4FF;
}

button {
  width: 100%;
  padding: 12px;
  background: #7B5CF0;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background: #6846e5;
}

.note {
  font-size: 12px;
  color: #8a7bb8;
}

/* DASHBOARD */
header {
  background: #7B5CF0;
  padding: 15px;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 30px;
  flex-wrap: wrap;
}

.card {
  background: #FFF7FB;
  padding: 25px;
  width: 300px;
  border-radius: 25px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.1);
}

.edukasi {
  background: linear-gradient(180deg, #FFF7FB, #FDE2F3);
}

.quote {
  font-style: italic;
  color: #7B5CF0;
}
